<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >

<suite name="all" verbose="1">
    <test name="AllTests" preserve-order="true" time-out="7200000">
        <classes>
            <class name="com.reindeermobile.selenide.GoogleTest">
                <methods>
                    <include name="failedTest"/>
                </methods>
            </class>
        </classes>
    </test>
</suite>